

.pagination{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    cursor: pointer;
}

.selectedPage {
    color: #07b38d;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.unselectedPage {
    padding: 5px;
    color: white;
}

.btn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    cursor: pointer;
    font-size: large;
}

.unselectedPage:hover,.btn:hover{
  opacity: 0.5;
}
 