.names {
    display: flex;
    align-items: center;
    background-color: rgb(194, 194, 194);
    padding: 5px;
}

.names img {
    width: 40px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
}

.item {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 10px;
}

.active {
    font-size: 20px;
    color: #689c5f;
    text-decoration: none;
    padding-left: 10px;
}