.header {
    width: 1200px;
    grid-area: header;
    background-color: rgb(35, 56, 152);
    position: fixed;                    /*фиксированная позиция*/
    top: 0;                             /*без отступа сверху*/
}

.header img {
    float: left;                        /*плавающий блок расположение слева*/
    width: 60px;                        /*ширина лого*/
    height: 60px;                       /*высота лого*/
    margin: 0;                          /*отступы для лого*/
}

.name {
    font-size: 40px;
    color: aliceblue;
    float: right;                       /*плавающий блок расположение справа*/
    margin: 0px 30px 0px 0px;           /*отступы для ссылок*/
}