.header {
    grid-area: header;
    background-color: #242426;
}

.header img {
    float: left;                        /*плавающий блок расположение слева*/
    width: 60px;                        /*ширина лого*/
    height: 60px;                       /*высота лого*/
    margin: 0;                          /*отступы для лого*/
}

.name {
    font-size: 40px;
    color: #18cba4;
    float: left;                       /*плавающий блок расположение справа*/
    margin: 7px 0px 0px 25px;           /*отступы для названия*/
}