.content img {
    width: 100%;
}

.description {
    display: flex;
    justify-content: flex-start;
    
    padding: 10px;
}

.description img {
    width: 100px; 
    border-radius: 50%;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    color: aliceblue;
    padding-left: 10%;
    width: 100%;
    
}