.description {
    display: flex;
    padding: 10px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.description img {
    width: 200px; 
    height: 200px;
    border-radius: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.text {
    color: aliceblue;
    padding-left: 10%;
    width: 100%;
    padding: 5px;
}

.status {
    display: flex;
    padding: 10px;

}

.statusInput {
    padding-left: 10px;
}

.formError {
    color: red;
    padding: 10px;
}

.contacts {
    padding: 10px;
    width: 30%;
}

.inputPhoto {
    display: none;
}

.label {
    cursor: pointer;
    border: 1px white solid;
    border-radius: 5px;
    padding: 5px;
}

.bgModal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.774);
}

.popup {
    background-color: rgb(203, 204, 204);
    padding: 20px;
    border-radius: 10px;
}