.nav {
    grid-area: nav;
    background-color: rgb(35, 56, 152);
}

.item {
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.active {
    font-size: 24px;
    color: #4deef4;
    text-decoration: none;
}

.link {
    margin: 10px 0 0 20px;
}