.nav {
    grid-area: nav;
    background-color: #689c5f;

}

.item {
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.active {
    font-size: 24px;
    color: #4db1f4;
    text-decoration: none;
}

.link {
    margin: 10px 0 0 20px;
}

.friends {
    font-size: 24px;
    color: #FFFFFF;
    margin: 40px 0 0 50px;
}